@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font Propo; 
  font-weight: bold;
  font-size: 14.7px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;  
  transition-duration: .5s;
  border-radius: 10px;
  background: @background;
  margin: 10px 0 0 0;
}


#workspaces {
  background: @black;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 0px 3px 15px;
  font-family: Symbols Nerd Font;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  animation: none;
  transition: none; 
}

#workspaces button.visible {
  color: @green;
}

#workspaces button.active {
  color: @black;
  background: @green;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.43,.08,.56,.92);

}

#workspaces button:hover {
  color: @black;
  background: @blue;
}


#workspaces button.urgent {
  color: @black;
  background: @red;
}

#custom-notification {
  color: @yellow;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 5px;
}

#idle_inhibitor {
  color: @yellow;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-nvidia {
  color: @yellow;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 4px;
}

/* === Pomo === */
#custom-pomo.active {
  color: @green;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#custom-pomo.inactive {
  color: @red;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

/* === Power Group === */
#group-power {
  color: @red;
  background-color: @black;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 15px 3px 5px;
}

#custom-reboot, #custom-lock, #custom-quit, #custom-suspend, #custom-hibernate {
    color: @white;
    padding-right: 3px;
    padding-left: 5px;
}

#custom-reboot{
    padding-right: 7px;
}

/* === Clock, Language === */
#clock, #language {
  color: @white-bright;
  padding: 8px 8px;
}

/* === System Vitals === */
#network, #pulseaudio, #battery, #backlight, #tray{
  color: @white-bright;
  padding: 8px 8px;
}
