@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Symbols Nerd Font, JetBrainsMono Nerd Font; 
  font-weight: bold;
  font-size: 14.7px;
  min-height: 16px;

}

#custom-notification, #custom-pomo, #custom-dunst,#custom-nvidia, #idle_inhibitor, #custom-language, #custom-updates, #custom-caffeine, #clock, #battery, #pulseaudio, #network, #tray, #backlight, #language {
  background: @surface0;
  padding: 7px 10px;
  margin: 3px 0px 3px 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;  
  background: rgba(0,0,0,0);
  transition-duration: .5s;
}

tooltip {
  background: @crust;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces button {
  color: #6c7086;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  animation: none;
  transition: none; 
}

#workspaces button.active {
  color: @text;
  background: @base;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.43,.08,.56,.92);

}

#workspaces button:hover {
  background: @crust;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}


#workspaces {
  background: @surface0;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 0px 3px 15px;
  font-family: Symbols Nerd Font;
}

#custom-notification {
  color: @flamingo;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 5px;
}

#idle_inhibitor {
  color: @flamingo;
  background-color: @base;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-nvidia {
  color: @flamingo;
  background-color: @base;
  border-radius: 0px 10px 10px 0px;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 4px;
}

#custom-dunst {
  color: @yellow;
  background-color: @base;
  border-radius: 10px; 
  margin-left: 5px;
}


/* === Pomo === */
#custom-pomo.active {
  color: @green;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#custom-pomo.inactive {
  color: @red;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#tray {
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
}


/* === Power Group === */
#group-power {
  color: @red;
  background-color: @base;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 15px 3px 5px;
}

#custom-reboot, #custom-lock, #custom-quit, #custom-suspend, #custom-hibernate {
    color: @text;
    padding-right: 3px;
    padding-left: 5px;
}

#custom-reboot{
    padding-right: 7px;
}


/* === Language === */
#language.icon {
  color: @yellow;
  background: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 8px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}

#language {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

/* === Clock === */
#clock {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

#clock.icon_time {
  color: @yellow;
  background: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#clock.icon_date {
  color: @yellow;
  background: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}

/* === Network === */
#network.icon {
  border-radius: 10px 0px 0px 10px;
  color: @peach;
  background-color: @base;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#network {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

/* === Pulseaudio === */
#pulseaudio.icon {
  color: @blue;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#pulseaudio {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

/* === Battery === */
#battery.icon{
  color:  @green;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#battery{
  color:  @text;
  border-radius: 0 10px 10px 0;
  padding-left: 7px;
  margin: 3px 0px 3px 0px;
}

/* === Backlight === */
#backlight.icon{
  color: @yellow;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#backlight{
  color: @text; 
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

