@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Symbols Nerd Font, JetBrainsMono Nerd Font; 
  font-weight: bold;
  font-size: 14.7px;
  min-height: 16px;

}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;  
  background: rgba(0,0,0,0);
  transition-duration: .5s;
}

tooltip {
  background: @crust;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces button {
  padding: 5px;
  color: #6c7086;
  margin-right: 5px;
}

#workspaces button.active {
  color: #b4befe;
  background: @base;
  border-radius: 10px;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @crust;
  color: @teal;
  border-radius: 10px;
}

#workspaces {
  background: @surface0;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 0px 3px 15px;
  font-family: Symbols Nerd Font;
}

#custom-pomo, #custom-dunst, #idle_inhibitor, #custom-language, #custom-updates, #custom-caffeine, #clock, #battery, #pulseaudio, #network, #tray, #backlight {
  background: @surface0;
  padding: 7px 10px;
  margin: 3px 0px 3px 0px;
}

#idle_inhibitor {
  color: @flamingo;
  background-color: @base;
  border-radius: 10px; 
  margin-left: 4px;
  margin-right: 4px;
}

#custom-dunst {
  color: @yellow;
  background-color: @base;
  border-radius: 10px; 
  margin-left: 5px;
}

#custom-pomo.active {
  color: @green;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#custom-pomo.inactive {
  color: @red;
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#tray {
  background-color: @base;
  border-radius: 10px;
  margin-right: 4px;
}

#custom-language {
  color: #f38ba8;
}

#custom-updates {
  color: #f5c2e7;
}

/* === Clock === */
#clock {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

#clock.icon_time {
  color: @yellow;
  background: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#clock.icon_date {
  color: @yellow;
  background: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}

/* === Network === */
#network.icon {
  border-radius: 10px 0px 0px 10px;
  color: @peach;
  background-color: @base;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#network {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

/* === Pulseaudio === */
#pulseaudio.icon {
  color: @blue;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#pulseaudio {
  color: @text;
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

/* === Battery === */
#battery.icon{
  color:  @green;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#battery{
  color:  @text;
  border-radius: 0 10px 10px 0;
  padding-left: 7px;
  margin: 3px 15px 3px 0px;
}

/* === Backlight === */
#backlight.icon{
  color: @yellow;
  background-color: @base;
  border-radius: 10px 0px 0px 10px;
  padding-right: 3px;
  padding-left: 10px;
  margin: 3px 0px 3px 5px;
}
#backlight{
  color: @text; 
  padding-left: 7px;
  border-radius: 0 10px 10px 0;
}

